<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RottenMangoes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <!-- Nav Bar -->
    <div class="small-2 column">
    </div>
    <!-- Nav Bar -->
    <div>
    <!-- Main Body -->
    <div class="small-10 column">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value) %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <!-- Main Body -->
  </div>
</body>
</html>
